<div class="container-fluid d-flex flex-column">
  <div style="height: 80px;background-color: #1669ca" class="d-flex flex-row align-items-center justify-content-between">
    <h4 class="ml-4" style="color: white;">Angular Demo</h4>
    <button type="button" class="btn btn-light mr-4" (click)="logOut()">Log Out <i class="fas fa-sign-out-alt"></i></button>
  </div>
  <div style="height: calc(100vh - 80px);" class="w-100">
    <div class="d-flex flex-row w-100 h-100">
      <div style="width: 56px;max-height: calc(100vh - 80px);overflow-y: scroll" class="h-100 d-flex flex-column">
        <section class="menu-item d-flex justify-content-center align-items-center" *ngFor="let m of menu" data-tooltip="{{m.label}}" data-placement="top">
          <i class="fas {{m.icon}} icon-menu"></i>
        </section>
      </div>
      <div style="width: calc(100vw - 72px);">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

