<div class="container-fluid pt-3" [ngClass]="loading? 'disabled-opa': ''">
  <div class="row">
    <div class="d-flex flex-row mb-2" style="padding-left: 15px">
      <button class="btn btn-primary" (click)="getPersons()">Populate Data</button>
      <button class="btn btn-primary ml-2" (click)="fileInput.click()">Upload</button>
    </div></div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col" *ngFor="let h of cols;let i=index">{{h['label']}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let r of rows;let j=index">
          <th scope="row">{{r['id']}}</th>
          <td>{{r['firstName']}}</td>
          <td>{{r['lastName']}}</td>
          <td>{{r['age']}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="spinner-border text-primary fixed-pos-spin" role="status" *ngIf="loading">
  <span class="sr-only">Loading...</span>
</div>

<!--input image file-->
<div style="display: none">
  <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)"/>
</div>

<div style="position: fixed;top: 85px;right: 15px;" *ngIf="msg">
  <div class="alert alert-primary" role="alert">
   {{msg}}
  </div>
</div>
